<div class="video-page">
  <div class="small-side">
    <mat-form-field appearance="outline" class="search">
      <mat-label>Search user</mat-label>
      <input matInput (input)="onSearch($event)" />
    </mat-form-field>
    <mat-list>
      <mat-list-item *ngFor="let call of activeCalls" (click)="startCall(call)">
        {{ call.name }}
      </mat-list-item>
    </mat-list>
  </div>
  <div class="large-side" *ngIf="activeCall">
    <div class="video-container">
      <div class="remote-video-container">
        <div class="remote-video">Other Participant</div>
      </div>
      <div class="local-video">My Camera</div>
    </div>

    <div class="media-controls">
      <button [class.active]="!isMicMuted" (click)="toggleMic()" title="Toggle Microphone">
        <i class="material-icons">{{ isMicMuted ? 'mic_off' : 'mic' }}</i>
      </button>
      <button [class.active]="!isAudioMuted"  (click)="toggleSpeaker()" title="Toggle Audio Output">
        <i class="material-icons">{{ isAudioMuted ? 'volume_off' : 'volume_up' }}</i>
      </button>
      <button [class.active]="!isCameraOff" (click)="toggleCamera()" title="Toggle Camera">
        <i class="material-icons">{{ isCameraOff ? 'videocam_off' : 'videocam' }}</i>
      </button>
      <button (click)="hangUp()">
        <i class="material-icons">call_end</i>
      </button>
    </div>
  </div>
</div>
